*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow-y:scroll ;
    align-items: center;
    overflow-x: hidden;
    display: block;

}
.main-area{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    position: relative;
    width: 980px;
    align-items: start;
    /*margin-left:18% ;
    margin-top:auto;*/
    margin: auto;
    height: 100vh;
  
}
.branding{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 266.08px;
    padding: 0px 32px 0px 0px;
    margin-top: 90px;
    
}
.branding img{
    width: 320.9375px;
    height: 106px;
    justify-self: start;
   margin-bottom: -62px;
   margin-left: -32px;
   
}
.branding p{
    width: 500px;
    height: 84px;
    color: #1C1E21;
    font-size: 28px;
    line-height: 32px;
    /* margin-top: -50px; */
    
}
.container-2{
    width: 396px;
    height: 348.83px;
    background-color: #fff;
    margin: 40px 0px 0px;
    padding: 10px 0px 24px;
    box-shadow: 0 3px 5px 2px rgb(150, 150, 150 ,0.4);
    text-align: center;
    align-self: center;
    border-radius: 6px;

}
input{
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid  lightgray;
    margin-bottom: 15px;
    width: 364px;
    height: 63.6px;
}
input::placeholder{
    font-size: larger;
}
input:focus{
      outline: 1px solid #1877f2;
}
.Log-in-button{
    background-color: #0866ff;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0 16px;
    width: 364px;
    height: 48px;
}
.Log-in-button:hover{
    cursor: pointer;
    background-color:#1877F2;
}
a{
    text-decoration: none;
    color: #7e7e7e;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Forgot{
font-size: 14px;
line-height: 18.8px;
color: #0866ff;
}
hr{
    margin: 18px 0 ;
    opacity: 0.5;
}
.register-button{
    background-color: #42b72a;
    font-size: 17px;
    line-height: 48px;
    color: #ffffff;
    font-weight: bolder;
    width: 192.61px;
    align-self: center;
    border-radius: 6px;
    margin: -2%;
    padding: 20px ;
}
.register-button:hover{
    cursor: pointer;
    background-color: #36a420;
    text-decoration: none;
}
.bottom-link{
   display: flex;
    justify-content: center;
    gap: 3px;
    font-size: 14px;
    line-height: 18.8px;
    color: #1C1E21;
    margin: 28px 0 0;

}
.page{
    color: black;
    font-weight: bold;
}
                                /*Footer*/
footer{
background-color: #fff;

padding: 20px 0px 0px;
width: 100%;
 }
 ul{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 12px;
    color: #7e7e7e;
    line-height: 1.5;
   }
   hr{
    margin: 10px 230px ;
    opacity: 0.3;

   }
   li{
    margin-right: 15px;
   }
                    /*medium devices*/
 
  @media only screen  and (max-width: 1199px) { 
    .main-area{
        grid-template-columns: 1fr;
        width: 100%;
        padding: 20px;
        align-items: center; 
        height: auto;
        margin-left: 0;
    }
    .branding {
     
    display: grid;
     justify-content: center; 
   align-items: center; 
   width: 100%;
   margin-left: 60px;
     
    }
    .container-2{
       /* margin: 10px 0; */
      align-items: center;
      
    }
    .whole{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
    form{
      align-items: center;
    }
  
    footer {
      padding: 20px;
    }
  }
                    /* Small Devices */
  @media only screen and (max-width: 767px) {
    .main-section {
     grid-template-columns: 1fr;
      width: 100%;
      margin-left: 0;
      padding: 10px; 
      align-items: center;
      justify-content: center;
      /* height: auto; */
     
    }
  
    .branding {
      width: 100%;
      align-items: center;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  
    .branding img,.branding p {
      margin: 0;
      width: auto;
      align-items: center;
    }
  
    .container-2 {
      width: 97%;
      margin: 0;
      padding: 30px; 
     
    }.input{
      width: 100%;
    }
  
    
    footer {
      height: 100; 
       width: 100vw; 
      padding: 20px;
    }
  
    input,.Log-in-button {
      font-size: 14px; 
      padding: 8px 10px; 
    }
  }
  

      

